<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C-Programming-Test</title>
    <link rel="stylesheet" href="/stylesheets/c-page.css">
</head>
<body>
    <div class="container">
        <h1>c-Language-test</h1>
        <div class="test">
            <h2 id="question">questions</h2>
            <div id="answer-buttons">
                <button class="btns">Ans 1</button>
                <button class="btns">Ans 2</button>
                <button class="btns">Ans 3</button>
                <button class="btns">Ans 4</button>
            </div>
            <div id="next-btn">Next</div>
        </div>
        <button id="start">Start</button>
    </div>

    <script src="/javascripts/cTest.js"></script>
</body>
</html>