@import url('https://fonts.googleapis.com/css?family=pooping:200,300,400,500,600,700,800,display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

:root {
    --clr: greenyellow;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/login.jpg);
    background-size: cover;
}

form {
    background: #29313c;
    padding: 60px 30px 20px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
}

form h2 {
    color: aliceblue;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.2;
    margin-bottom: 45px;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-bottom: 45px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 10px 0 4px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    color: #e9ebee;
    font-size: 1.1em;
    letter-spacing: 0.15em;
}

img {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.inputBox label {
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: cadetblue;
    text-transform: uppercase;
}

.inputBox label span {
    position: relative;
    display: inline-flex;
    letter-spacing: .05em;
    transition: .2s ease-in-out;
}

.inputBox input:focus~label span,
.inputBox input:valid~label span {
    color: var(--clr);
    letter-spacing: .15em;
    transform: translateY(-25px);
}

.inputBox input:focus,
.inputBox input:valid {
    border-bottom: 2px solid var(--clr);
}

.inputBox input[type="submit"] {
    background: var(--clr);
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.15em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: .5s;
    color: darkgreen;
}

.inputBox input[type="submit"]:hover {
    letter-spacing: .40em;
}

form p {
    color: #fff;
    text-transform: uppercase;
}

form p a {
    color: #FF8080;
    letter-spacing: .1em;
    font-weight: 600;
    text-decoration: none;
}
